<div class="pageheader">
    <h2><i class="fa fa-info-circle"></i> 后台管理 <span>数据管理</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你在这里:</span>
        <ol class="breadcrumb">
            <li><a href="/astellas/dataManage"></a>后台管理</li>
            <li class="active">数据管理</li>
        </ol>
    </div>
</div><!-- end pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="text-right">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-success dropdown-toggle" type="button">
                                    <i class="fa fa-arrow-circle-o-down mr5"></i> 模板下载
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="budgetTemplate()">预算模板</a></li>
                                    <li><a href="#" onclick="optimizationTemplate()">优化模板</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="uploder-container">
                                    <div class="phauploder">
                                        <div class="queueList">
                                            <div class="placeholder">
                                                <div class="filePicker"></div>
                                                <p>将文件拖拽到这里，请上传1个文件</p>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display: none;">
                                            <div class="btns">
                                                <div class="jxfilePicker" style="float: left"></div>
                                                <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-primary btn-success dropdown-toggle" type="button">
                                                        导入
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="importBtn" href="#" onclick="budgetImport()">预算表导入</a></li>
                                                        <li><a class="importBtn" href="#" onclick="optimizationImport()">优化表导入</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="info"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div><!-- end contentpanel -->
