logs
target
.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID
upload
lib
bin

sbt-dist
.cache-main

test/UserTest.scala
project/project
public/video
*.log

.idea/modules.xml

.idea/modules/root-build.iml

.idea/modules/root.iml

.idea/modules/root.iml

.idea/play2_project_settings.xml

.idea/play2_settings.xml

.idea/vcs.xml

.idea/modules/root.iml

.idea/play2_project_settings.xml

.idea/scala_compiler.xml

*.iml

*.iml

.idea/modules/root.iml

.idea/modules/root.iml
