<div class="modal fade" id="queueLoding" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="progresstier">
                <div class="widgets">
                    <div class="shadow"></div>
                    <div id="chartMessage" class="chart-container"> </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
