@()
<div class="pageheader">
  <h2><i class="fa fa-bar-chart-o"></i> 资源优化 <span>区域管理</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">你在这里:</span>
    <ol class="breadcrumb">
      <li><a href="#"></a>资源优化</li>
      <li class="active">区域管理</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <div id="content1" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
              </div>
              <h3 class="panel-title">区域管理</h3>
            </div>
            <div class="panel-body">

              <div class="demoTable">
                总销售目标：
                <div class="layui-inline">
                  <input class="layui-input" name="time" id="time" value="1,000,000">
                </div>
                总费用：
                <div class="layui-inline">
                  <input class="layui-input" name="time" id="time" value="200,000">
                </div>
              </div>
              <table id="rm"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>