<div id="form1" class="panel-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-5 control-label text-right">产品筛选:</label>
                <div class="col-sm-7">
                    <select id='budget_productOpt' onchange='querylist()' class='form-control input-sm mb15'></select>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-5 control-label text-right">成本花费:</label>
                <div class="col-sm-7">
                    <label id="budget_current_cost_prod" class="col-sm-4 control-label text-right"></label>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-5 control-label text-right">当前收入:</label>
                <div class="col-sm-7">
                    <label id="budget_current_revenue_prod" class="col-sm-4 control-label text-right"></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-5 control-label text-right">优化收入:</label>
                <div class="col-sm-7">
                    <label id="budget_opt_revenue_prod" class="col-sm-4 control-label text-right"></label>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-sm-5 control-label text-right">收入增长水平:</label>
                <div class="col-sm-7">
                    <label id="budget_revenue_uplift_prod" class="col-sm-4 control-label text-right"></label>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button onclick='generateReport()' type='button' class='btn btn-primary btn-sm'>生成报告</button>
                </div>
            </div>
        </div>
    </div>
</div>