@(page_type : String)
<!-- Highly Modular -->
@if(page_type=="BusinessIntroduction"){
    @BusinessIntroductionModules.BusinessIntroductionContentPanel()
}
@if(page_type=="ResourceManagement"){
    @ResourceManagementModules.ResourceManagementContentPanel()
}
@if(page_type=="ResourceOptimization"){
    @ResourceOptimizationModules.ResourceOptimizationContentPanel()
}
@if(page_type=="RegionalManagement"){
    @RegionalManagementModules.RegionalManagementContentPanel()
}
@if(page_type=="TaskManagement"){
    @TaskManagementModules.TaskManagementContentPanel()
}
@if(page_type=="CustomerManagement"){
    @CustomerManagementModules.CustomerManagementContentPanel()
}
@if(page_type=="ResultsReport"){
    @ResultsReportModules.ResultsReportContentPanel()
}