@(page_type: String)
<!-- Highly Modular -->
<div class="leftpanel">
    <div class="logopanel">
        <h1><span>PET</span></h1>
    </div>
    <div class="leftpanelinner">
        <h5 class="sidebartitle">导航栏</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="@if(page_type == "BusinessIntroduction") {active} else {}"><a href="/ro/businessIntroduction"><i class="fa fa-home"></i> <span>
                业务介绍</span></a></li>
            <li class="@if(page_type == "ResourceManagement") {active} else {}"><a href="/ro/resourceManagement"><i class="fa fa-globe"></i> <span>
                资源管理</span></a></li>
            <li class="@if(page_type == "ResourceOptimization") {active} else {}"><a href="/ro/resourceOptimization"><i class="fa fa-laptop"></i> <span>
                资源优化</span></a></li>
        </ul>
    </div>
</div>