@(level : String)
<div class="pageheader">
  <h2><i class="fa fa-bar-chart-o"></i> 系统管理 <span>部门管理</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">你在这里:</span>
    <ol class="breadcrumb">
      <li><a href="/astellas/departmentManage"></a>后台管理</li>
      <li class="active">部门管理</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <div id="content1" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
              </div>
              <h3 class="panel-title">部门管理</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="table" class="table table-success mb30">
                    <form class="form">
                      @DepartmentModules.DepartmentManageCondition()
                      @CommonModules.Pagination()
                    </form>
                    @DepartmentModules.DepartmentManageModal(level)
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>