<form class="form">
    <div class="form-group">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label class="control-label">产品名称</label>
                <select id="productOpt" onchange="ProductOptimizatTable()" data-name="search-result-datatype" class="form-control input-sm"></select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-success mb30">
                <thead>
                <tr>
                    <th>#</th>
                    <th>年份</th>
                    <th>渠道名称</th>
                    <th>渠道说明</th>
                    <th>是否需要优化</th>
                    <th>现有预算比列</th>
                    <th>现有预算值</th>
                    <th id="measured_budget_ratio_th">测算预算比例</th>
                    <th id="calculate_budget_values_th">测算预算值</th>
                    <th id="budget_variation_th">测算预算变化幅度</th>
                    <th id="todo_th">操作</th>
                </tr>
                </thead>
                <tbody id="product_optimizat_tbody">

                </tbody>
            </table>
        </div>
    </div>
</form>