<div id="budget-form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_title">编辑</h4>
      </div>
      <div class="modal-body">
        <form id="modal_form" role="form" onclick="changeCost()">
          <div class="form-group hidden">
            <label>预算ID</label>
            <input id="product_budget_budget_id" type="text" hidden class="form-control"/>
            <input id="product_budget_company" type="text" hidden class="form-control"/>
            <input id="product_budget_department" type="text" hidden class="form-control"/>
            <input id="product_budget_date" type="text" hidden class="form-control"/>
            <input id="product_budget_scope_name_en" type="text" hidden class="form-control"/>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>产品名称</label>
              <input id="product_budget_scope_name_ch" type="text" placeholder="Product Name" readonly class="form-control"/>
            </div>
            <div class="form-group col-md-6">
              <label>年份</label>
              <select id="product_budget_year" class="form-control input-sm mb15">
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>该产品比例</label>
              <div class="input-group mb15">
                <input id="product_budget_product_ratio" onfocus="changeCost()" type="text" class="form-control" placeholder="Product Ratio"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>营销预算总额</label>
              <div class="input-group mb15">
                <input id="product_budget_budget_totle" onfocus="changeCost()" type="text" class="form-control" placeholder="Budget Totle"/>
                <span class="input-group-addon">￥</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>该产品花费</label>
              <div class="input-group mb15">
                <input id="product_budget_product_cost" onfocus="changeCost()" type="text" class="form-control" readonly placeholder="Product Cost"/>
                <span class="input-group-addon">￥</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>是否需要跨产品优化</label>
              <select id="product_budget_cross_product_optimization" class="form-control input-sm mb15">
                <option value="0">否</option>
                <option value="1">是</option>
              </select>
            </div>
            <div class="form-group col-md-6" hidden>
              <label>东北大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_northeast" type="text" class="form-control" placeholder="North East"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="row" hidden>
            <div class="form-group col-md-6">
              <label>华北大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_northchina" type="text" class="form-control" placeholder="North China"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>华东大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_eastchina" type="text" class="form-control" placeholder="East China"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="row" hidden>
            <div class="form-group col-md-6">
              <label>华南大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_southchina" type="text" class="form-control" placeholder="South China"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>华西大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_westchina" type="text" class="form-control" placeholder="West China"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="row" hidden>
            <div class="form-group col-md-6">
              <label>华中大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_centralchina" type="text" class="form-control" placeholder="Central China"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>京津大区</label>
              <div class="input-group mb15">
                <input id="product_budget_region_beijingandtianjin" type="text" class="form-control" placeholder="Beijing And Tianjin"/>
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>去年销售总额</label>
              <div class="input-group mb15">
                <input id="product_budget_last_year_sales" type="text" class="form-control" placeholder="Last Year Sales"/>
                <span class="input-group-addon">￥</span>
              </div>
            </div>
            <div class="form-group col-md-6" hidden>
              <label>是否需要大区优化</label>
              <select id="product_budget_sales_area_analysis" class="form-control input-sm mb15">
                <option value="0">否</option>
                <option value="1">是</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="ProductBudgetSave()">提交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->