<form class="form">
  <div class="form-group">
    <div class="col-sm-4 col-md-4">
      <div class="form-group">
        <label class="control-label">优化方式</label>
        <select id="optimizaOpt" onchange="ChangeOptimizatType()" class="form-control input-sm">
          <option>固定预算</option>
          <option>固定收益</option>
          <option>利润最大化</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-success mb30">
        <thead>
          <tr>
            <th>#</th>
            <th>年份</th>
            <th>产品名称</th>
            <th>各产品比例</th>
            <th>各产品花费</th>
            <th hidden>东北大区</th>
            <th hidden>华北大区</th>
            <th hidden>华东大区</th>
            <th hidden>华南大区</th>
            <th hidden>华西大区</th>
            <th hidden>华中大区</th>
            <th hidden>京津大区</th>
            <th>去年销售总额</th>
            <th>是否需要跨产品优化</th>
            <th hidden>是否需要大区优化</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="product_budget_tbody">

        </tbody>
      </table>
    </div><!-- table-responsive -->
  </div>
</form>