<div class="row form-group">
    <div class="col-xs-1">
        <button type='button' onclick="QueryChannel('')" class='btn btn-primary btn-sm'>新增</button>
    </div>
    <div class="col-xs-3 form-group">
        <select class="form-control" id="companySlt"></select>
    </div>
    <div class="col-xs-3 form-group">
        <select class="form-control" id="departmentSlt"></select>
    </div>
    <div class="col-xs-3 form-group">
        <select class="form-control" id="productSlt"></select>
    </div>
</div>