<form class="form">
  <div class="row form-group">
    <div class="col-xs-3 form-group">
      <label>医院终端</label>
      <select class="form-control">
        <option>人民医院</option>
        <option>协和医院</option>
        <option>妇产医院</option>
        <option>肿瘤医院</option>
      </select>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-success mb30">
        <thead>
          <tr>
            <th>#</th>
            <th>产品</th>
            <th>市场潜力</th>
            <th>目前销量</th>
            <th>费用分配</th>
            <th>代表</th>
            <th>时间分配</th>
            <th>时间分配给A级客户</th>
            <th>时间分配给B级客户</th>
            <th>时间分配给C级客户</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>A</td>
            <td>500,000 </td>
            <td>115,000 </td>
            <td>5%</td>
            <td>代表1</td>
            <td>10%</td>
            <td>30%</td>
            <td>40%</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>2</td>
            <td>B</td>
            <td>600,000 </td>
            <td>138,000 </td>
            <td>5%</td>
            <td>代表1</td>
            <td>10%</td>
            <td>30%</td>
            <td>40%</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>C</td>
            <td>70,000 </td>
            <td>16,100 </td>
            <td>5%</td>
            <td>代表1</td>
            <td>10%</td>
            <td>30%</td>
            <td>40%</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>4</td>
            <td>D</td>
            <td>80,000,000 </td>
            <td>18,400,000 </td>
            <td>5%</td>
            <td>代表1</td>
            <td>10%</td>
            <td>30%</td>
            <td>40%</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>5</td>
            <td>E</td>
            <td>9,000,000 </td>
            <td>2,070,000 </td>
            <td>5%</td>
            <td>代表1</td>
            <td>10%</td>
            <td>30%</td>
            <td>40%</td>
            <td>30%</td>
          </tr>
        </tbody>
      </table>
    </div><!-- table-responsive -->
  </div>
</form>