@()
<div class="pageheader">
  <h2><i class="fa fa-bar-chart-o"></i> 资源优化 <span>客户管理</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">你在这里:</span>
    <ol class="breadcrumb">
      <li><a href="#"></a>资源优化</li>
      <li class="active">客户管理</li>
    </ol>
  </div>
</div>
<div class="contentpanel">
  <div id="content1" class="row">
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
              </div>
              <h3 class="panel-title">客户管理</h3>
            </div>
            <div class="panel-body">

              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>人民医院</legend>
              </fieldset>
              <table class="layui-table" lay-data="{height:260, url:'/assets/ro/json/table/ro-customer-management.json'}">
                <thead>
                  <tr>
                    <th lay-data="{field:'id', width:50}">#</th>
                    <th lay-data="{field:'product', width:60}">产品</th>
                    <th lay-data="{field:'marketpotential', width:120}">市场潜力</th>
                    <th lay-data="{field:'currentsales', width:120}">目前销量</th>
                    <th lay-data="{field:'costallocation', width:100}">费用分配</th>
                    <th lay-data="{field:'representative', width:80}">代表</th>
                    <th lay-data="{field:'timemanagement', width:100, edit: 'text'}">时间分配</th>
                    <th lay-data="{field:'Alevelcustomer', width:160, edit: 'text'}">时间分配给A级客户</th>
                    <th lay-data="{field:'Blevelcustomer', width:160, edit: 'text'}">时间分配给B级客户</th>
                    <th lay-data="{field:'Clevelcustomer', width:160, edit: 'text'}">时间分配给C级客户</th>
                  </tr>
                </thead>
              </table>

              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>协和医院</legend>
              </fieldset>
              <table class="layui-table" lay-data="{height:260, url:'/assets/ro/json/table/ro-customer-management.json'}">
                <thead>
                  <tr>
                    <th lay-data="{field:'id', width:50}">#</th>
                    <th lay-data="{field:'product', width:60}">产品</th>
                    <th lay-data="{field:'marketpotential', width:120}">市场潜力</th>
                    <th lay-data="{field:'currentsales', width:120}">目前销量</th>
                    <th lay-data="{field:'costallocation', width:100}">费用分配</th>
                    <th lay-data="{field:'representative', width:80}">代表</th>
                    <th lay-data="{field:'timemanagement', width:100, edit: 'text'}">时间分配</th>
                    <th lay-data="{field:'Alevelcustomer', width:160, edit: 'text'}">时间分配给A级客户</th>
                    <th lay-data="{field:'Blevelcustomer', width:160, edit: 'text'}">时间分配给B级客户</th>
                    <th lay-data="{field:'Clevelcustomer', width:160, edit: 'text'}">时间分配给C级客户</th>
                  </tr>
                </thead>
              </table>

              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>妇产医院</legend>
              </fieldset>
              <table class="layui-table" lay-data="{height:260, url:'/assets/ro/json/table/ro-customer-management.json'}">
                <thead>
                  <tr>
                    <th lay-data="{field:'id', width:50}">#</th>
                    <th lay-data="{field:'product', width:60}">产品</th>
                    <th lay-data="{field:'marketpotential', width:120}">市场潜力</th>
                    <th lay-data="{field:'currentsales', width:120}">目前销量</th>
                    <th lay-data="{field:'costallocation', width:100}">费用分配</th>
                    <th lay-data="{field:'representative', width:80}">代表</th>
                    <th lay-data="{field:'timemanagement', width:100, edit: 'text'}">时间分配</th>
                    <th lay-data="{field:'Alevelcustomer', width:160, edit: 'text'}">时间分配给A级客户</th>
                    <th lay-data="{field:'Blevelcustomer', width:160, edit: 'text'}">时间分配给B级客户</th>
                    <th lay-data="{field:'Clevelcustomer', width:160, edit: 'text'}">时间分配给C级客户</th>
                  </tr>
                </thead>
              </table>

              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>肿瘤医院</legend>
              </fieldset>
              <table class="layui-table" lay-data="{height:260, url:'/assets/ro/json/table/ro-customer-management.json'}">
                <thead>
                  <tr>
                    <th lay-data="{field:'id', width:50}">#</th>
                    <th lay-data="{field:'product', width:60}">产品</th>
                    <th lay-data="{field:'marketpotential', width:120}">市场潜力</th>
                    <th lay-data="{field:'currentsales', width:120}">目前销量</th>
                    <th lay-data="{field:'costallocation', width:100}">费用分配</th>
                    <th lay-data="{field:'representative', width:80}">代表</th>
                    <th lay-data="{field:'timemanagement', width:100, edit: 'text'}">时间分配</th>
                    <th lay-data="{field:'Alevelcustomer', width:160, edit: 'text'}">时间分配给A级客户</th>
                    <th lay-data="{field:'Blevelcustomer', width:160, edit: 'text'}">时间分配给B级客户</th>
                    <th lay-data="{field:'Clevelcustomer', width:160, edit: 'text'}">时间分配给C级客户</th>
                  </tr>
                </thead>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>