<div id="companymanage-form" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_title">编辑</h4>
      </div>
      <div class="modal-body">
        <form id="company_form" role="form">
          <input id="company_id" name="company_id" type="text" class="form-control hidden"/>
          <input id="company_photo" name="company_photo" type="text" class="form-control hidden"/>
          <input id="date" name="date" type="text" class="form-control hidden"/>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="col-sm-12 control-label">公司名称（中文） <span class="asterisk">*</span></label>
              <input id="company_name_ch" name="company_name_ch" type="text" placeholder="Type company name..." class="form-control"/>
            </div>
            <div class="form-group col-md-12">
              <label class="col-sm-12 control-label">公司名称（英文） <span class="asterisk">*</span></label>
              <input id="company_name_en" name="company_name_en" type="text" placeholder="Type company name..." class="form-control"/>
            </div>
            <div class="form-group col-md-12">
              <label class="col-sm-12 control-label">公司简称 <span class="asterisk">*</span></label>
              <input id="short_name" name="short_name" type="text" placeholder="Type screen name..." class="form-control"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="SaveCompany()">提交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>