<div class="pageheader">
  <h2><i class="fa fa-home"></i> 业务分析 <span>业务分析</span></h2>
  <div class="breadcrumb-wrapper">
    <span class="label">你在这里:</span>
    <ol class="breadcrumb">
      <li><a href="/astellas/businessAnalysis">业务分析</a></li>
      <li class="active">业务分析</li>
    </ol>
  </div>
</div>
<div id="basicWizard" class="basic-wizard">
  <ul class="nav nav-pills nav-justified">
    <li><a href="#havc" data-toggle="tab"><span>哈乐&卫喜康</span></a></li>
    <li><a href="#mycpd" data-toggle="tab"><span>米开明&佩尔</span></a></li>
  </ul>
  <div class="tab-content" style="padding: 0px;">
    <div id="havc" class="tab-pane" style="height: 870px;"></div>
    <div id="mycpd" class="tab-pane" style="height: 870px;"></div>
  </div>
</div>
<div id="pdf" class="tab-pane" style="height: 870px;" hidden></div>