@(user_name : String, level : String, page_type : String)
@main("结果报告"){
  <link rel="stylesheet" href="@routes.Assets.at("modules/loader/progress.css")">
}{
  <!-- Highly Modular -->
  @AppColumnModules.App(user_name, level, page_type)
}{
  <script src="@routes.Assets.at("modules/web-im/webim.config.js")"></script>
  <script src="@routes.Assets.at("modules/web-im/strophe-1.2.8.js")"></script>
  <script src="@routes.Assets.at("modules/web-im/websdk-1.4.10.js")"></script>
  <script src="@routes.Assets.at("pet/js/common/pet-load-im.js")"></script>
  <script src="@routes.Assets.at("pet/pet-results-report.js")"></script>
}