@main("数据上传") {
    <!--CSS-->
    <link rel="stylesheet" href="@routes.Assets.at("css/style.default.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/jquery.datatables.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-timepicker.min.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/jquery.tagsinput.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/colorpicker.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/dropzone.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/tabs.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("css/webuploader.css")" />


    <link rel="stylesheet" media="all" href="@routes.Assets.at("css/commonFunction/uploadData.css")" />
} {
    <body>
        <div id="preloader">
            <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <section>
            <div class="leftpanel">
                <div class="logopanel">
                    <h1><span>PET</span></h1>
                </div>
                <div class="leftpanelinner">
                    <h5 class="sidebartitle">导航栏</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket">
                        <li><a href="/astellas/home"><i class="fa fa-home"></i> <span>首页</span></a></li>
                        <li class="nav-parent nav-active active"><a href=""><i class="fa fa-info-circle"></i> <span>通用</span></a>
                            <ul class="children nav nav-pills nav-stacked nav-bracket" style="display: block;">
                                <li class="nav-parent nav-active"><a href=""><i class="fa fa-globe"></i> <span>历史促销评估</span></a>
                                    <ul class="children" style="display: block;">
                                        <li><a href="/common/naturalSalesEstirmate"><i class="fa fa-laptop"></i> 自然销量估计</a></li>
                                        <li><a href="/common/residualEstirmate"><i class="fa fa-stumbleupon"></i> 残留量估计</a></li>
                                        <li class="active"><a href="/common/uploadData"><i class="fa fa-cloud-upload"></i> 数据上传</a></li>
                                        <li><a href="/common/estirmateAnalysis"><i class="fa fa-cogs"></i> 评估分析</a></li>
                                        <li><a href="/common/estirmateReport"><i class="fa fa-bar-chart-o"></i> 评估报告</a></li>
                                    </ul>
                                </li>
                                <li class="nav-parent"><a href=""><i class="fa fa-laptop"></i> <span>促销渠道优化</span></a>
                                    <ul class="children">
                                        <li><a href="/common/optimizedAnalysis"><i class="fa fa-cogs"></i> 优化分析</a></li>
                                        <li><a href="/common/optimizedReport"><i class="fa fa-bar-chart-o"></i> 优化报告</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-parent"><a href=""><i class="fa fa-globe"></i> <span>安斯泰来</span></a>
                            <ul class="children">
                                <li><a href="/astellas/budgetpage"><i class="fa fa-laptop"></i> 预算页面</a></li>
                                <li><a href="/astellas/productSettings"><i class="fa fa-stumbleupon"></i> 产品设置</a></li>
                                <li><a href="/astellas/productOptimization"><i class="fa fa-cloud-upload"></i> 产品优化</a></li>
                                <li><a href="/astellas/regionOptimization"><i class="fa fa-cogs"></i> 大区优化</a></li>
                                <li><a href="/astellas/resultsReport"><i class="fa fa-bar-chart-o"></i> 结果报告</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mainpanel">
                <div class="headerbar">
                    <a class="menutoggle"><i class="fa fa-bars"></i></a>
                    <div class="header-Right">
                        <ul class="headermenu">
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <img src="@routes.Assets.at("images/user.png")" alt="" /><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-usermenu pull-Right">
                                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> 我的资料</a></li>
                                        <li><a href="/astellas/login"><i class="glyphicon glyphicon-log-out"></i>
                                            登出</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- end headerbar -->

                <div class="pageheader">
                    <h2><i class="fa fa-info-circle"></i> 通用 <span>数据上传</span></h2>
                    <div class="breadcrumb-wrapper">
                        <span class="label">你在这里:</span>
                        <ol class="breadcrumb">
                            <li><a href="/astellas/home"></a>通用</li>
                            <li class="active">数据上传</li>
                        </ol>
                    </div>
                </div><!-- end pageheader -->

                <div class="contentpanel">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <button id="downloadBtn" type="button" class="btn btn-success">模板下载</button>
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <div class="uploder-container">
                                                    <div class="phauploder">
                                                        <div class="queueList">
                                                            <div class="placeholder">
                                                                <div class="filePicker"></div>
                                                                <p>将文件拖拽到这里，请上传1个文件</p>
                                                            </div>
                                                        </div>
                                                        <div class="statusBar" style="display: none;">
                                                            <div class="btns">
                                                                <div class="jxfilePicker" style="float: left"></div>
                                                                <div class="uploadBtn" style="float: left">开始上传</div>
                                                            </div>
                                                            <div class="info"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end contentpanel -->
            </div><!-- end mainpanel -->
        </section>
    </body>
} {
    <!-- JS -->
    <script src="@routes.Assets.at("js/jquery.datatables.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery-ui-1.10.3.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.sparkline.min.js")"></script>

    <script src="@routes.Assets.at("js/jquery.autogrow-textarea.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-timepicker.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.maskedinput.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.tagsinput.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.mousewheel.js")"></script>
    <script src="@routes.Assets.at("js/select2.min.js")"></script>
    <script src="@routes.Assets.at("js/dropzone.min.js")"></script>
    <script src="@routes.Assets.at("js/colorpicker.js")"></script>

    <script src="@routes.Assets.at("js/jquery.validate.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.hDialog.js")"></script>

    <script src="@routes.Assets.at("js/webuploader.js")"></script>

    <script src="@routes.Assets.at("js/commonFunction/uploadData.js")"></script>
}