<form class="form">
    <div class="row form-group">
        <div class="col-xs-3 form-group">
            <label>类别</label>
            <select class="form-control">
                <option>时间分配</option>
                <option>指标分配</option>
                <option>预算分配</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-success mb30">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>时间分配</th>
                        <th>总时间分配比例</th>
                        <th>管理者</th>
                        <th>代表1</th>
                        <th>代表2</th>
                        <th>代表3</th>
                        <th>代表4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>销售培训</td>
                        <td>20%</td>
                        <td>20%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>医院协访</td>
                        <td>20%</td>
                        <td>20%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>团队会议</td>
                        <td>20%</td>
                        <td>20%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>POA</td>
                        <td>20%</td>
                        <td>20%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>管理工作</td>
                        <td>20%</td>
                        <td>20%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                        <td>5%</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- table-responsive -->
    </div>
</form>